@font-face {
    font-family: 'DungGeunMo';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: 'DungGeunMo', sans-serif ;
}
/*body {*/
/*    background: #ffffff;*/
/*}*/

.chat-box {
    width: 100%;
    height: 350px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
}
.chat-top {
    background: #1b2a49;
    color: #fff;
    padding: 20px;
    font-size: 18px;
    text-align: left;
}
.chat-mid {
    flex: 1;
    padding: 12px;
    overflow-y: auto;
    background: #fff;
    display: flex;
    flex-direction: column;
}
/*스크롤바 삭제*/
.chat-mid::-webkit-scrollbar {
    display: none;
}
/*내가 보낸 메세지*/
.my-message {
    background: #8ee6ee;
    border-radius: 7px;
    display: inline-block;
    width: fit-content;
    max-width: 173px;
    padding: 10px;
    margin: 5px;
    align-self: flex-end;
    position: relative;
    font-size: 15px;
    text-align: left;
    word-break: break-all;
}
/*말풍선 모양 만들기*/
.my-message::after {
    content: "";
    position: absolute;
    top: 65%;
    right: -8px;
    transform: translateY(-50%);
    border-width: 8px 0 8px 10px;
    border-style: solid;
    border-color: transparent transparent transparent #8ee6ee;
}
/* 상대방이 보낸 메세지 */
.other-message {
    background: #33b9dc;
    border-radius: 7px;
    display: inline-block;
    width: fit-content;
    max-width: 173px;
    padding: 10px;
    margin: 5px;
    align-self: flex-start;
    position: relative;
    font-size: 15px;
    text-align: left;
    word-break: break-all;
}
/*상대방 말풍선 모양 만들기*/
.other-message::after {
    content: "";
    position: absolute;
    top: 65%;
    left: -8px;
    transform: translateY(-50%);
    border-width: 8px 10px 8px 0;
    border-style: solid;
    border-color: transparent #33b9dc transparent transparent;
}
.chat-bottom {
    display: flex;
    gap: 8px;
    padding: 12px;
    background: #fff;
}
.chat-input {
    flex: 1;
    min-width: 0;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background: #dbf2ff;
    font-size: 15px;
    outline: none;
}
.send-btn {
    margin-left: 8px;
    padding: 0 16px;
    border: none;
    background: #555;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    flex-shrink: 0;
    white-space: nowrap;
}
.send-btn:hover {
    background: #333;
}