#music-btn {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 40px;
    height: 40px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    background-color: transparent;
    padding: 0;
    outline: none;

    border: none;
    cursor: pointer;
    z-index: 1000;
}

/* 기본 이미지 (정지 상태) */
#music-btn.music-off {
    background-image: url('../../img/music/music-off-button.png');
}

/* 재생 중 이미지 */
#music-btn.music-on {
    background-image: url('../../img/music/music-on-button.png');
}