/*
기본 픽셀 폰트
 */
@font-face {
    font-family: 'NeoDunggeunmo';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*
랭킹 표시 폰트
 */
@font-face {
    font-family: 'yg-jalnan';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*
로고 움직임
 */
@-webkit-keyframes logo-move {
    50% {
        -webkit-transform: rotate(-1.5deg);
    }
}

/*
start btn 움직임
 */
@keyframes jittery {
    5%,
    50% {
        transform: scale(1);
    }

    10% {
        transform: scale(0.9);
    }

    15% {
        transform: scale(1.15);
    }

    20% {
        transform: scale(1.15) rotate(-5deg);
    }

    25% {
        transform: scale(1.15) rotate(5deg);
    }

    30% {
        transform: scale(1.15) rotate(-3deg);
    }

    35% {
        transform: scale(1.15) rotate(2deg);
    }

    40% {
        transform: scale(1.15) rotate(0);
    }
}

@keyframes jelly {
    25% {
        transform: scale(0.9, 1.1);
    }

    50% {
        transform: scale(1.1, 0.9);
    }

    75% {
        transform: scale(0.95, 1.05);
    }
}

body {
    background-image: url("../../img/background2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    margin: 0;
}

#logout_btn {
    position: absolute;
    top: 2vh;
    right: 0.2vw;
    z-index: 1000;
    cursor: pointer;
    width: 13vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logout_btn img {
    width: 70%;
    height: 70%;
    object-fit: contain;
}

#full_box {
    display:flex;
    justify-content: center;
    height: 100vh;
}

#section1 {
    flex: 0 0 45%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rank_background {
    height:100%;
    width: 100%;
    display: block;
}


#ranking {
    position: absolute;
    top: 38vh;
    left: 7vw;
    width: 68%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 1vw 1vw;
    z-index: 10;
}

#ranking_section {
    height: 85%;
    width: 100%;
    overflow-y: auto;
}
#ranking_section::-webkit-scrollbar {
    width: 0.5vw;
}

#ranking_section::-webkit-scrollbar-thumb {
    background-color: #B97843;
    border-radius: 0.5vw;
    -webkit-box-shadow: inset 0 0 0.3vw rgba(0,0,0,.3);
}

#ranking_section::-webkit-scrollbar-track {
    background: rgba(255, 255, 255,.3);
    border-radius: 1vw;
}

.rank_item {
    position: relative;
    /*
    height: 4rem;
     */
    height: 8.5vh;
    width: 29.5vw;
    overflow: hidden;
    border-radius: 1.5vw;
    margin-top: 0;
    margin-bottom: 0.5vw;
    flex-shrink: 0;
}

.rank_item_background {
    width: 100%;
    height: 100%;
    background-color: #FFC77E;
    box-shadow: inset 0 0 2vw rgba(255, 255, 255, 0.5),
    0 0 1.5vw rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rank_item_background.highlight {
    background-color: #9EFFF4;
    box-shadow: inset 0 0 2vw rgba(75, 151, 149, 0.5);
}

.rank_num {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'yg-jalnan';
    font-size: 2vw;
}

.rank_user_image_wrapper {
    height: 70%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rank_user_image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 0.3vw solid white;
    object-fit: cover;
}


.rank_user_id {
    width: 40%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'yg-jalnan';
    font-size: 1.8vw;
}

.rank_user_rate {
    width: 30%;
    height: 60%;
    margin-right: 1vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'yg-jalnan';
    font-size: 1.6vw;
    background-color: rgba(224, 158, 110, 0.3);
    border-radius: 999px;
    overflow: hidden;
    box-shadow: inset 0 0 2vw rgba(255, 255, 255, 0.4),
    0 0 1vw rgba(0, 0, 0, 0.2);
}

.win_icon {
    height: 80%;
    width: auto;
    object-fit: contain;
    display: inline-block;
    margin-right: 0.5vw;
}

.win_rate {
    color: white;
    text-shadow:
            -0.07vw -0.07vw 0 black,
            0.07vw -0.07vw 0 black,
            -0.07vw  0.07vw 0 black,
            0.07vw  0.07vw 0 black;
}

#my_rank {
    /*
    height: 4rem;
     */
    height: 8.5vh;
    width: 98.5%;
    border-radius: 1.5vw;
    margin-top: 1vh;
    margin-bottom: 0;
    background-color: #9EFFF4;
    box-shadow: inset 0 0 2vw rgba(75, 151, 149, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#section2 {
    flex: 0 0 55%; /* 너비 55% 고정 */
    display: flex;
    flex-direction: column;
}

#logo_section {
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_wrapper {
    height: 100%;
}



#logo {
    height: 85%;
}

#profile_section {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile_card {
    height: 92%;
    width: 75%;
    background-color: rgba(200, 238, 13, 0.6);
    border-radius: 3vw;
    border: 0.5vw solid #207600;
    box-shadow: 1.2vw 1.2vw 1.5vw 0.3vw rgba(0,0,0,0.3);
    display: flex;
}

#profile_info_section {
    width: 65%;
    margin: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5vh;
    font-family: 'NeoDunggeunmo';
}

.info_row {
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
    margin-bottom: 1vh;
    margin-left: 1vw;
    flex-wrap: wrap;
}

.label {
    font-weight: bold;
    margin-bottom: 0.3vh;
    color: black;
    font-size: 1.2vw;
}

.value {
    background-color: white;
    padding: 1vh 1vw;
    border-radius: 0.5vw;
    box-shadow: 0.2vw 0.2vw 0.4vw #aaa;
    font-size: 1vw;
    line-height: 3vh;
    word-break: break-word;
    width: 100%;
    height: 5vh;
    box-sizing: border-box;
}

.value.bio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 9.2vh;
}


textarea.bio_text {
    width: 95%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    resize: none;
    font-family: 'NeoDunggeunmo';
    font-size: 1vw;
    line-height: 3vh;
    background: none;
    color: black;
    outline: none;
    vertical-align: middle;
}

#edit_icon {
    display: inline-block;
    width: 5%;
    aspect-ratio: 1 / 1;
    margin-left: 0.8vw;
    vertical-align: middle;
    cursor: pointer;
}

#winning_box {
    display: flex;
    flex-direction: row;
}

.value-winning {
    margin-left: 1vw;
    font-size: 1vw;
}

.multi-graph {
    display: flex;
    height: 3.2vh;
    border-radius: 3vw;
    overflow: hidden;
    box-shadow: 0.2vw 0.2vw 0.5vw rgba(0,0,0,0.2);
    margin: 1vh 0;
    font-size: 0.9vw;
    color: white;
    text-shadow: 0.1vw 0.1vw 0.2vw black;
    border: 0.2vw solid black;
}

.bar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.win {
    background-color: #4a68c3;
}

.lose {
    background-color: #F44336;
}

.legend {
    display: flex;
    gap: 1vw;
    margin-top: 0.2vh;
    align-items: center;
}

.legend-item {
    display: flex;
    align-items: center;
}

.dot {
    align-items: center;
    gap: 0.4vw;
    color: black;
    border-radius: 50%;
    border: 0.2vw solid black;
    aspect-ratio: 1 / 1;
    margin-right: 0.2vw;
    display: inline-block;
    width: 1vw;
}

.exp_text {
    color: black;
    /*
    font-size: 0.9rem;
     */
    font-size: 1vw;
}

#profile_image_section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#avatar {
    width: 80%;
    aspect-ratio: 1 / 1;
    border-radius: 2vw;
    background-image: url("../../img/profile/2.png");
    background-color: skyblue;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

#edit_btn {
    position: absolute;
    bottom: -1vh;
    right: -1vw;
    background-color: #FFD600;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0.2vw 0.2vw 0.5vw rgba(0,0,0,0.3);
    cursor: pointer;
}

#button_section {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button_section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#start_btn {
    cursor: pointer;
    height: 60%;
    aspect-ratio: 1.9 / 1;
    border: none;
    background-color: transparent;
    background-image: url("../../img/start_btn.png");
    background-repeat: no-repeat;
    background-size: contain;
    animation: jittery 4s infinite;
}


/*
#start_btn:hover {
    animation: jelly 0.5s;
}

.start_btn-fill {
    transition: 0.3s;
}

.start_btn-open {
    transition: 0.3s;
    position: relative; /* ::before를 위해 부모도 상대 위치 설정 필요
    overflow: hidden;   /* ::before 애니메이션 효과 클리핑을 위해 필요
}

.start_btn-open::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transition: 0.3s;
    transform-origin: left;
}


.start_btn-open:hover::before {
    transform: scaleX(1);
}
*/