<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OMOK</title>
    <link rel="stylesheet" href="board.css" />
</head>
<body>
<div class="container">
    <div class="board" id="board">
        <img id="board-image" src="../../../img/omok_board.png" alt="omok board" />
    </div>
    <div class="info">
        <div class="profile">
            profile
        </div>
        <div class="chat">
            chat
        </div>
    </div>
</div>

<script src="../../sunJ_maching/js/websocket.js"></script>
</body>
</html>